In [1]:
import pandas as pd
import os
from tqdm import tqdm

In [2]:
data_directory = '../raw_data/'
processed_directory = '../processed_data/'

In [31]:

for path in ['train', 'test']:
    df = pd.DataFrame(columns=['id', 'text', 'rating', 'label'])
    dir=os.path.join(data_directory, path)
    for label in ['pos', 'neg']:
        child_dir=os.path.join(dir, label)
        files= os.listdir(child_dir)
        for file in tqdm(files, desc='Reading data'):
            id, rating = file.split('_')
            rating = rating.split('.')[0]
            text = open(os.path.join(child_dir, file), 'r', encoding='utf8').read()
            if label == 'pos':
                tag='+'
            else:
                tag='-'
            row = {
                'id' : id,
                'text' : text,
                'rating' :rating,
                'label' : tag
            }
            df = df.append(row, ignore_index=True)
            
    df.to_json(os.path.join(processed_directory, f'{path}.json' ), orient='records')

Reading data: 100%|█████████████████████████████████████████████████████████████| 12500/12500 [00:12<00:00, 991.24it/s]
Reading data: 100%|█████████████████████████████████████████████████████████████| 12500/12500 [00:42<00:00, 297.27it/s]
Reading data: 100%|█████████████████████████████████████████████████████████████| 12500/12500 [00:39<00:00, 317.06it/s]
Reading data: 100%|█████████████████████████████████████████████████████████████| 12500/12500 [00:43<00:00, 287.78it/s]

In [23]:
df.to_json('../data/train/train.json', orient='records')

In [33]:
train_df = pd.read_json('../data/train/train.json')
test_df = pd.read_json('../data/test/test.json')

In [25]:
train_df

       id                                               text  rating label
0       0  Bromwell High is a cartoon comedy. It ran at t...       9     +
1   10000  Homelessness (or Houselessness as George Carli...       8     +
2   10001  Brilliant over-acting by Lesley Ann Warren. Be...      10     +
3   10002  This is easily the most underrated film inn th...       7     +
4   10003  This is not the typical Mel Brooks film. It wa...       8     +
..    ...                                                ...     ...   ...
95  10086  This is a lot of silliness about a woman from ...       7     +
96  10087  Fabulous costumes by Edith Head who painted th...      10     +
97  10088  Elephant Walk (1954) Starring an early Peter F...      10     +
98  10089  . . . or type on a computer keyboard, they'd p...       7     +
99   1008  I got in to this excellent program in about se...      10     +

[100 rows x 4 columns]